doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    //- meta(content= #{token} name='csrf')
  body
    block content
    div(data-content= '#{token}' name='csrf' id='csrf')

    script(src="/dist/main.js")